@model Germinmed.Models.Events

@{
    ViewBag.Title = "Event Details";
    Layout = "~/Views/Shared/_MainSiteLayout.cshtml";
}

<main>
    <section class="banner events-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="head-left">
                        <h1>Event</h1>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="head-right">
                        <ul class="list-inline">
                            <li><a href="">Home</a></li>
                            <li><span>/</span></li>
                            <li>Event</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="events event-details">
        <div class="container">
            <div class="row pad-tb-80">
                <div class="col-md-12">
                    <div class="event-list">
                        <div class="row">

                            <div class="col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                                <div class="event-image">
                                    <img src="@Url.Content(Model.ImageUrl)" alt="" class="img-responsive">
                                    <div class="date"> <span class="day">@Model.Date.Value.ToString("dd")</span> <span class="year">@Model.Date.Value.ToString("MMM yy")</span> </div>
                                </div>
                            </div>
                            <div class="col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="event-desc">
                                    <h2><a href="">@Model.Title</a></h2>
                                    <p>@Model.Description</p>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>

            </div>
        </div>
    </section>
</main>