@using Germinmed.Models;
@model Germinmed.Models.ProductViewModel
@using Germinmed.Controllers;
@{
    /**/

    /**/

    ViewBag.Title = "Offer";
    Layout = "~/Views/Shared/_MainSiteLayout.cshtml";
    if (Url.RequestContext.RouteData.Values["id"] == null)
    {
        Url.RequestContext.RouteData.Values["id"] = "";
    }
}

<!-- new design   -->

<main id="divMain">
    <section class="banner products-banner" style="@((ViewBag.InnerBanner!=null && ((InnerBanner)ViewBag.InnerBanner).ImageUrl!="/AppFiles/Images/Default.png") ?"background:url("+Url.Content(((InnerBanner)ViewBag.InnerBanner).ImageUrl)+") no-repeat;background-size: cover":"background:url(/content/images/products-banner.jpg) no-repeat;background-size: cover" )">

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="head-left">
                        <h1>Offer</h1>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="head-right">
                        <ul class="list-inline">
                            <li><a href="@Url.Action("Index","Home")">Home</a></li>
                            <li><span>/</span></li>
                            <li>Offer</li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="products">
        <div class="container">
            <div class="row pad-tb-80">
                <div class="col-md-12">
                    <div class="top-links">
                        <ul class="list-inline" id="rootcat">

                            @foreach (Category item in Model.Category)
                            {
                                if (item.ParentId == 0)
                                {
                                    if (Url.RequestContext.RouteData.Values["id"] != null)
                                    {
                                        <li role="presentation" class=" @(item.Id.ToString() == Url.RequestContext.RouteData.Values["id"].ToString() ? "active" : "")">
                                            <a href="#@(item.Title.ToLower())" aria-controls="@(item.Title.ToLower())" role="tab" data-toggle="tab" onclick="activaTab('@(item.Title.ToLower())')" id="MyTabs">@item.Title</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="">
                                            <a href="#@(item.Title.ToLower())" aria-controls="@(item.Title.ToLower())" role="tab" data-toggle="tab" onclick="activaTab('@(item.Title.ToLower())')">@item.Title</a>
                                        </li>
                                    }
                                }

                            }
                            <li class="pull-right filter">
                                Filter by Brand
                                @Html.DropDownListFor(model => model.BrandId, new SelectList(Model.Brands, "Id", "Title", "Select Brand"), new { @class = "fil", onchange = "FilterProductListByBrand(this.value);" })


                            </li>
                        </ul>





                    </div>
                </div>

                <!-- Tab panes -->
                <div class="tab-content">


                    @foreach (Category item in Model.Category)
                    {
                        if (item.ParentId == 0)
                        {
                            <div role="tabpanel" class="tab-pane @(item.Id.ToString() == Url.RequestContext.RouteData.Values["id"].ToString() ? "active" : "") " id="@(item.Title.ToLower())">

                                <div class="product-inner">
                                    <div class="col-md-3">
                                        <div class="sidebar sidebar-left zee">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="product-right">
                                            <div class="breadcrub">
                                                <ul class="list-inline">
                                                    <li> Home</li>
                                                    <li><span> / </span> </li>

                                                    <li> Products </li>
                                                    <li><span> / </span> </li>
                                                    <li> @item.Title </li>
                                                </ul>
                                            </div>


                                            <div class="row">


                                                @Html.Action("CategorySubOffer", "Offer", new { Id = item.Id })






                                            </div>




                                        </div>
                                    </div>
                                </div>

                            </div>


                        }
                    }

                </div>

            </div>
        </div>



    </section>
</main>
<!--End New Desgin-->
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/ScriptsClientSide.js"></script>
    <script>
        function GetURLParameter(sParam) {


            var sPageURL = $(location).attr("href");

            var indexOfLastSlash = sPageURL.lastIndexOf("/");

            if (indexOfLastSlash > 0 && sPageURL.length - 1 != indexOfLastSlash)
                return sPageURL.substring(indexOfLastSlash + 1);
            else
                return 0;
        }



        $(document).ready(function () {

            var param = GetURLParameter("0");
           
            if (param == "Offer" || param=="0" )
            {

                activaTab('dental');
            }

           //$("#Dental").tabs({ active: 0});
        })

        function activaTab(tab) {
            $('.list-inline a[href="#' + tab + '"]').tab('show');
        };

    </script>

}

