@model Germinmed.Models.NewsLetter
@using Germinmed.Models
@{
    /**/

    Layout = null;
}

@using (Html.BeginForm("AddOrEdit", "NewsLetter", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-example", onSubmit = "return jQueryAjaxPost(this);", data_restUrl = Url.Action("AddOrEdit", "NewsLetter", new { id = 0 }) }))//data-restUrl,data-restUrl1
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)


    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Compose New Message</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">

            <div class="form-group">
                @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control textarea", placeholder = "Subject:" } })
                @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                Message Body:
                @Html.TextAreaFor(model => model.Message, htmlAttributes: new { @class = "form-control textarea", rows = 10 })
                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
            </div>


            <div class="form-group">
                <img src="@Url.Content(Model.ImageUrl)" style="margin:10px" height="200" width="200" id="imagePreview" />
                <input type="file" name="ImageUpload" accept="image/jpeg, image/png" onchange="ShowImagePreview(this,document.getElementById('imagePreview'))" />
            </div>

            <div class="form-group">
                Recipients:
                @Html.TextAreaFor(model => model.Recipients, new { htmlAttributes = new { @class = "form-control textarea", rows = 5, placeholder = "Recipients:" } })
                @Html.ValidationMessageFor(model => model.Recipients, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>
    <!-- /.box-body -->

    <!-- /.box-footer -->

    <!-- /. box -->


    <div class="datatable-wide">
      
        <table class="table table-hover" id="userTable">
            <thead>
                <tr>

                    <th>  <input type="checkbox"  id="CheckAll" name="CheckAll" onclick="checkAllbox()"  /></th>
                    <th>
                        Email
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (Users item in Model.UserList)
                {
                    <tr>
                        <td>
                        <input type="checkbox" id="UserIdsToSelect" name="UserIdsToSelect" value="@item.Email" /></td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>





<div class="box-footer">
    <div class="pull-right">
        
        <button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Send</button>
        @if (Model.Id != 0)
        {
            <a class="btn btn-success" onclick="refreshAddNewTab('@Url.Action("AddOrEdit", "NewsLetter", new { id = 0 })',false)"><i class="fa fa-pluse">Add New</i></a>
        }
    </div>

</div>




}


