
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li><a data-toggle="tab" href="#firstTab">View All</a></li>
        <li class="active"><a data-toggle="tab" href="#secondTab">Add New </a></li>
        <li><a data-toggle="tab" href="#thirdTab">Images </a></li>
    </ul>
    <div class="tab-content">
        <div id="firstTab" class=" tab-pane fade in ">@Html.Action("ViewAll")</div>
        <div id="secondTab" class=" tab-pane fade in active ">@Html.Action("AddOrEdit")</div>
        <div id="thirdTab" class=" tab-pane fade in ">
            <div id="imageEditMessage">
                Adding image only enable in edit mode.pleas go to Product List and click edit button.
            </div>
            <div id="productImageEdit">
                <div class="row" id="imageList">
                    @Html.Action("ViewImagesByProduct", new { id = (Session["ProductId"] != null ? Session["ProductId"].ToString() : "0") })
                </div>
                <div class="row" id="imageAdd">
                    @Html.Action("AddImage", new { id = 0, productid = 0 })

                </div>
                <div id="producIdDiv">

                </div>
            </div>
        </div>
    </div>
</div>

<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/requiredIfValidator.js"></script>
    <script>
        function activatejQueryTable() {
            $("#productTable").DataTable();
            $('.textarea').wysihtml5();
         
        }
        $(function () {
            activatejQueryTable();

            if ($("#IsFeatured").is(':checked')) {
                $("#txtImage").show();
            }
            else {
                $("#txtImage").hide();
            }
        });

        function activatejQueryTableImage() {
            $("#productImageTable").DataTable();
        }
        $(function () {
            activatejQueryTableImage();
        });

       
       
        //$(function () {
        //    $("#IsFeatured").click(function () {
        //        if ($(this).is(':checked')) {
        //            $("#txtImage").show();
        //        }
        //        else {
        //            $("#txtImage").hide();
        //        }
        //    });
        //});
        function IsFeaturedclick() {

            if ($("#IsFeatured").is(':checked')) {
                $("#txtImage").show();
            }
            else {
                $("#txtImage").hide();
            }
        }




    </script>
}
