@model IEnumerable<Germinmed.Models.ProductViewModel>
@using System.Text.RegularExpressions;
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainSiteLayout.cshtml";
}
@{
    var item1 = Model.FirstOrDefault();

}
<link href="~/Content/css/lightbox.css" rel="stylesheet" />
<link href="~/Content/css/ALightBox.css" rel="stylesheet" />
<link href="~/Content/css/lightslider.css" rel="stylesheet" />
<style>
    span.more {
        color: #626262 !important;
        font-weight: 300 !important;
        font-family: 'Open Sans', sans-serif !important;
        line-height: 25px !important;
    }

    a.morelink {
        font-size: 16px;
        color: #e68c01;
        font-weight: 600;
        padding-top: 15px;
        text-decoration: none;
        cursor: pointer;
    }

    a.morelink1 {
        font-size: 16px;
        color: #e68c01;
        font-weight: 600;
        padding-top: 15px;
        text-decoration: none;
        cursor: pointer;
    }

    #more {
        display: none;
    }

    #more1 {
        display: none;
    }

    .descContainer {
        /*border: 1px solid red;*/
        height: 400px;
        overflow-y: scroll;
        overflow-y: hidden;
        position: relative;
    }
</style>

<main>
    <section class="banner products-banner" style="@((item1.InnerBannerImage != null && item1.InnerBannerImage != "/AppFiles/Images/Default.png") ? "background:url(" + item1.InnerBannerImage + ") no-repeat;background-size: cover" : "background:url(/content/images/products-banner.jpg) no-repeat;background-size: cover" )">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="head-left">
                        <h1>Product</h1>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="head-right">
                        <ul class="list-inline">
                            <li><a href="@Url.Action("Index","Home")">Home</a></li>
                            <li><span>/</span></li>
                            <li><a href="@Url.Action("Index","Product")">Product</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="product-details">
        <div class="container">
            <div class="row pad-tb-80">
                <div class="col-md-12">
                    <div class="breadcrub" style="text-align:left;">
                        <ul class="list-inline">
                            <li> Home</li>
                            <li><span> / </span> </li>

                            <li> @Html.Action("GetCategoryNameBreadcrumb", "Product", new { id = item1.CategoryId })  </li>
                            <li><span> / </span> </li>
                            <li> <a href=""> @item1.ProductName</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12" style="padding:0px;">
                    <div class="col-md-6  " data-wow-delay="0.2s">
                        <div class="slider-image">
                            <div class="center">
                                <ul id="lightSlider">
                                    @foreach (var item in Model)
                                    {

                                        <li data-thumb="@Url.Content(item.ImageUrl)"> <a class="example-image-link" href="@Url.Content(item.ImageUrl)" data-lightbox="example-set"><img src="@Url.Content(item.ImageUrl)" /></a> </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" data-wow-delay="0.3s">
                        <div class="product-desc">
                            @{
                                if (item1.IsOffer && item1.OfferPercentage != null)
                                {
                                    <h3>@item1.ProductName    <span> @item1.OfferPercentage % OFF</span> </h3>
                                }
                                else
                                {
                                    <h3>@item1.ProductName </h3>
                                }

                            }
                            <ul class="width-50 product-list row">
                                <li class="col-md-6 col-sm-6 col-xs-6 left-item">Category <span>:</span></li>
                                <li class="col-md-6  col-sm-6 col-xs-6">@item1.CategoryName</li>
                                <li class="col-md-6 col-sm-6 col-xs-6 left-item">Brand <span>:</span></li>
                                <li class="col-md-6 col-sm-6 col-xs-6">@item1.BrandTitle</li>
                                <li class="col-md-6  col-sm-6 col-xs-6 left-item">Item Code <span>:</span></li>
                                <li class="col-md-6 col-sm-6 col-xs-6">@item1.ItemCode</li>
                            </ul>
                            @{ if (@item1.WebUrl != null)
                                {


                                    <div class="web-link"> <img src="~/Content/images/blue-link.png"> <a href="@item1.WebUrl" target="_blank">View Website</a> </div>
                                }
                            }
                            <ul class="list-inline hor-btn">
                                <li><a class="orange-btn" href="@Url.Action("Index", "Cart", new { id = item1.Id })"><img src="~/Content/images/cart-bag.png">&nbsp;Add to Cart</a></li>
                                @{ if (@item1.VideoUrl != null)
                                    {

                                        <li><a class="white-btn alb_item" href="@item1.VideoUrl" target="_blank"><img src="~/Content/images/video-icon.png">&nbsp;Watch Video</a></li>
                                    }
                                }
                                @{ if (@item1.Catalogue != null)
                                    {


                                        <li class="mt"><a class="btn-or" href="@Url.Content("~/" + item1.Catalogue)" target="_blank" download>DOWNLOAD CATELOGUE</a></li>
                                    }
                                }

                            </ul>



                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="padding-top: 20px;visibility: visible;animation-delay: 0.3s;">
                    <div class="product-desc">
                        <div class="product-inner-desc  " data-wow-delay="">
                            <h4 class="pro-title">Product <span>Details</span></h4>
                            <div class="sub-desc"></div>
                            <div id="ProductDescContainer" class="descContainer">
                                @Html.Raw(item1.Description)
                            </div>
                            <a id="productReadMore" class="morelink">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" data-wow-delay="0.2s" style="padding-bottom: 15px;visibility: visible;animation-delay: 0.2s;">
                    <div class="tech-bg">
                        <h3>Technical Specifications</h3>
                        <div id="TechDescContainer" class="descContainer">
                            @Html.Raw(item1.TechnicalSpecifications)
                        </div>
                        <a id="techReadMore" class="morelink">Read more</a>
                    </div>
                </div>
    </section>
</main>



@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script src="~/Scripts/js/lightbox.js"></script>
    <script src="~/Scripts/js/ALightBox.js"></script>
    <script src="~/Scripts/js/index.js"></script>

    <script>
        $('body').ALightBox({
            showYoutubeThumbnails: true
        });

        $(document).ready(function () {
            debugger;
            var hasScroll = $('#ProductDescContainer').hasScrollBar();
            if (hasScroll == false) {
                $("#productReadMore").hide();
                $('#ProductDescContainer').css("height", "auto");
            }

            var hasScrollTech = $('#TechDescContainer').hasScrollBar();
            if (hasScrollTech == false) {
                $("#techReadMore").hide();
                $('#TechDescContainer').css("height", "auto");
            }
            $(".morelink").click(function () {
                debugger;
                if (this.id == "productReadMore") {
                    handleReadmore($('#ProductDescContainer'), $(this));
                }
                else {
                    handleReadmore($('#TechDescContainer'), $(this));
                }
            });

            function handleReadmore(container, control) {
                if (control.text() == "Read more") {
                    container.css("height", "auto");
                    container.css("border", "none");
                    control.text("Read less");
                }
                else {
                    container.css("height", "400px");
                    control.text("Read more");
                }
            }
        });

    </script>
}