@model IEnumerable<Germinmed.Models.ProductViewModel>
@{
    Layout = null;
}

@{
    int i = 2;
    foreach (var item in Model.GroupBy(x => x.Id).Select(y => y.First()).ToList())
    {
        @*<div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="product-box">
                    <div class="pro-image">
                        <img src="@Url.Content(item.ImageUrl)" class="img-responsive" alt="">
                        <div class="overlay">

                            <a href="@Url.Action("Details","Product",new {id=item.Id })"><i class="fa fa-link"></i></a>

                        </div>
                    </div>
                    <h3>@item.ProductName</h3>
                    <h4>Brand :@item.BrandTitle  </h4>
                </div>
            </div>*@

        <div class="col-md-2 wow fadeInUp" data-wow-delay="0.@(i)s">
            <a href="@Url.Action("Details","Product",new { Id=item.Id})">
                <div class="product-box">
                    <div class="pro-image">
                        <img src=" @Url.Content(item.ImageUrl) " class="img-responsive" alt="">
                        @{
                            if (item.IsOffer)
                            {
                                <span>@(item.OfferPercentage)% OFF</span>
                            }
                        }

                    </div>
                    <h3>@item.ProductName</h3>
                </div>
            </a>
        </div>
        i++;
    }
    if (Model.Count() == 0)
    {
        <div>No Products found.</div>
    }

}


