@model IEnumerable<Germinmed.Models.Branches>
@using Germinmed.Models
@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_MainSiteLayout.cshtml";
}

<main>
    <section class="banner global-banner" style="@(ViewBag.InnerBanner!=null ?"background:url("+Url.Content(HttpUtility.UrlPathEncode(((InnerBanner)ViewBag.InnerBanner).ImageUrl))+") no-repeat;background-size: cover":"background:url(/content/images/global-prsence-banner.jpg) no-repeat;background-size: cover" )">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="head-left">
                        <h1></h1>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="head-right">
                        <ul class="list-inline">
                            <li><a href="index.html">Home</a></li>
                            <li><span>/</span></li>
                            <li>Global Presence</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="clients">
        <div class="container">
            <div class="row pad-tb-80">

                @foreach (var item in Model)
                {
                    <div class="col-md-6">
                        <div class="contact-address col-md-12 tr">
                            <div class="col-md-5">
                                <img src="@(item.ImageUrl!="~/AppFiles/Images/Default.png"?Url.Content(item.ImageUrl):"/Content/images/logo.jpg")" width="180" height="140" class="img-responsive tp" alt="logo">
                            </div>
                            <div class="col-md-7">
                                <h4><strong>@item.Title</strong></h4>
                                <p class="po">P.O.Box :@item.PoBox ,</p>
                                <p>
                                    <strong><i class="fa fa-phone"></i>&nbsp;Phone :</strong><span class="grey"> @item.Phone </span><br>
                                    <strong><i class="fa fa-fax"></i>&nbsp;Fax : </strong><span class="grey">@item.Fax</span>
                                </p>

                                <ul>

                                    <li>
                                        <span>For Inquiry :</span>
                                        <a href=""><i class="fa fa-envelope-o"></i>&nbsp;@item.Email</a>
                                    </li>
                                </ul>



                            </div>
                        </div>
                    </div>
                }



            </div>
        </div>
    </section>
</main>

